body {
  /*
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white!important;
  background-color: black!important;
  background-image: url("/images/cinema.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  max-height: 0;

*/

   /* Location of the image */
   background-image: url("/images/cinema.png");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
     background-color: black!important;
    }

a {
  color: white!important;
  
}

button{
  background-color: red!important;
  border-color: #ffcccc!important;
  box-shadow: none!important;
}

select{
  height: 1.87rem;;
}

nav{
  background-color: red!important;
}

/*
.cinameImg {
  width: 100%;
  height: auto;
}

*/
.central{  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-47%, -50%);
  width: 38%;
  height: 30%;
  padding: 20px;  
  color: white;
  text-align: center;
   
}

.welcome{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: black;
    font-size: 1.1em;
}

.welcome a{
  color: black!important;
  text-decoration: none;
  color: #A31818!important;
}


.login .form-group{
  width: 30%;
}

.bgColor{
  background-image: none;
  
}

.userInMd{
  display: block ;
  padding: 0.6rem 0;
}

.userInL{
  display: none ;
}

.rightNav{
  padding: 0.5rem 0;
}

@media (min-width: 768px){
  .userInMd
  {
    display: none;
  }

  .userInL{
    display: block;
    padding-right: 1.5rem;
  }

  .leftNav{
    display: flex;
    flex-direction: row!important;
  }

  .rightNav{
    display: flex;
    flex-direction: row!important;
    padding-top: 0.6rem;
    justify-content: space-between;
  
  
  }

  
}

#header {
  display: flex;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 9999;
  
}

.nav_bar{
  width: 100%;
  line-height: 3rem;
}

.menu{
  
  width: 100%;
  justify-content: space-between;
 /* display: flex;
  
  flex-direction: row;
  background-color: red;
    list-style: none;

  color: white;*/
  /*align-content: space-between;*/
  

}


.nav{
  display: flex;
  justify-content: space-between;
  color: white;

}

nav li a{
  color: white!important;
}


.left_nav{
  display: flex;
  flex-direction: column;
}

.right_nav{
  
}

.sub_navbar{
  margin-top: 3rem;
  display: flex;
}




.sub_nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}


.section{
  display: flex;
  justify-content: space-between;
  width: 20%;
  line-height: 2.4rem;
}

.find{
  width: 75%;
}



.search{
  display: flex;
}

.searchText{
  width: 100%;
}

/* global for all pages */
.content{
  margin: 0 2.5rem;
  padding-bottom: 1rem;
}

.card{
  /*width: 50%;*/
  background-image: linear-gradient(black, #CAC7C6);
  margin-bottom: 1rem;
  border-top: 1px solid black!important;
  border-left: 1px solid red!important;

}

.addForm, .editForm{
  padding-bottom: 1rem;
}


.msg{
  /*color: red;
  background-color: white;
  width: 30%;*/
  margin-bottom: 1rem;
}

/* end global */

/*
.twoColumns{
  display: flex;
  
}

.columns{
  width: 50%;
}

.columns .form-group{
  width: 60%;
}
*/
/* movies page */ 
.card-text{
  display: flex;
  margin-bottom: 1rem;
}

.watched{
  margin-left: 5rem;
}

.watched ul li{
  margin-left: -1.5rem;
}

.container{
  background-image: linear-gradient(black, #CAC7C6);
  margin-bottom: 1rem;
  border-top: 1px solid black!important;
  border-left: 1px solid red!important;
  margin-left: 0!important;
  

}

/* end movies */

/* subscriptions page */

.subscription{
  display: flex;
  justify-content: space-between;
  
  
}

.member{
  width: 40%;
}

.movieWatched{
  flex-direction: column;
  width: 60%;
}

.subscribeMovie{
  width: 30%;
  margin-bottom: 0.5rem;
}

.subscribe{
  margin-top: -0.25rem;
}

.subscribers{
  margin-top: 0.5rem;
}

.hide{
  display: none;
}

/* end subscriptions */




