<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
  <div class="central">
    <div class="welcome">
      <h1><%= title %></h1>
      <div class="desc">
        <div>Mange system's users and there permissions</div>
        <div>Manage movies - Edit, Delete & add new movie details </div>
        <div>Manage member - Edit, Delete & and new subscriber</div>
        <B>
          <a href="/login">Let's get started </a>
        </B>
      </div>
    </div>
  </div>  


  </body>
</html>
