<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    
  </head>
  <body class="">
    <header>
      <%- include menu.ejs -%> 
    </header>
    
    <% if(message){ %>
      <div class="msg">
        <%= message %>
      </div>
  <% } %>

    
   
  </body>
</html>
