<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    
  </head>
  <body>
    <header>
      <%- include menu.ejs -%> 
    </header>
    
    <div class="content mt-2">
      <% if(message){ %>
        <div class="msg">
          <%= message %>
        </div>
      <% } %>
  </div>
  
</body>
</html>
