<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- for bootstrap -->
  ​<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
</head>
<header id="header">
    <nav class="nav_bar">
      <ul class="menu">
        <div class="nav left_nav">
          <li><a href="/movies">Movies</a>&nbsp;</li>
          <li><a href="/subscriptions">Subscriptions</a>&nbsp;</li>
          
          <% if(user.username === 'admin'){ %>
            <li>
              <a href="/users">User's Managemet</a>&nbsp;
            </li>
          <% } %>
        </div>
        <div class="nav right_nav">
          <% if(user && user.firstName){ %>
            <li>
              Hello <%= user.firstName %> <%= user.lastName %> 
            </li>
          <% } %>

          <li><a href="/logout">Logout</a>&nbsp;</li>
        </div>
      </ul>

    </nav>
    
</header>
