<header id="header">
    <nav class="nav_bar">
      <ul class="menu">
        <div class="nav left_nav">
          <li><a href="/movies">Movies</a>&nbsp;</li>
          <li><a href="/subscriptions">Subscriptions</a>&nbsp;</li>
          
          <% if(user.username === 'admin'){ %>
            <li>
              <a href="/users">User's Managemet</a>&nbsp;
            </li>
          <% } %>
        </div>
        <div class="nav right_nav">
          <% if(user && user.firstName){ %>
            <li>
              Hello <%= user.firstName %> <%= user.lastName %> 
            </li>
          <% } %>

          <li><a href="/logout">Logout</a>&nbsp;</li>
        </div>
      </ul>

    </nav>
    
</header>
