<!DOCTYPE html>
<html>
  <head>
    <title><%= data %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1><%= data %></h1>
    <%- include ../menu.ejs -%>

    <div class="container">
        <%= msg %>

      <form action="/users/newAccount" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>
      </form>

    </div>
  </body>
</html>
