<!DOCTYPE html>
<html>
  <head>
    <title><%= data %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- for bootstrap -->
    ​<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  </head>
  <body class="bgColor">
    
    

    <div class="centralLogin">
      <div class="centralDiv">
        <h1 class="pageTitle col"><%= data %></h1>
        <div class="col msg">
          <b><%= msg %></b>
        </div>
        <form action="/users/newAccount" method="POST">
          
          <div class="form-group col-md-6">
            <label for="username">Username:</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
          </div>
          <div class="form-group col-md-6">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
          </div>
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>  
        </form>
      </div>
    </div>
  </body>
</html>
